if SHIELD_ROLLOW_LEFT || SHIELD_DONGLE

config ZMK_KEYBOARD_NAME
	default "Rollow Dongle"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_USB
    default y

endif

if  SHIELD_ROLLOW_LEFT || SHIELD_ROLLOW_RIGHT || SHIELD_DONGLE || SHIELD_ROLLOW_PERIPHERAL_LEFT

config ZMK_SPLIT
    default y

endif
