if SHIELD_ROLLOW_LEFT

config ZMK_KEYBOARD_NAME
	default "Rollow"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y

endif

if SHIELD_ROLLOW_RIGHT

config ZMK_KEYBOARD_NAME
	default "Rollow Right"
	
endif

if SHIELD_ROLLOW_LEFT || SHIELD_ROLLOW_RIGHT

config ZMK_SPLIT
	default y
 
endif
